
# --------------------
# Python
# --------------------
backend/venv/
backend/__pycache__/
*.pyc
*.pyo

# --------------------
# Node
# --------------------
node_modules/
dist/

# --------------------
# Env Files
# --------------------
.env
backend/.env

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db
